@font-face {
	font-family: 'bold';
	src: url('fonts/verizonapex-bold-webfont.eot');
	src: url('fonts/verizonapex-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/verizonapex-bold-webfont.woff') format('woff'),
	url('fonts/verizonapex-bold-webfont.ttf') format('truetype'),
	url('fonts/verizonapex-bold-webfont.svg#verizon_apexbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'book';
	src: url('fonts/verizonapex-book-webfont.eot');
	src: url('fonts/verizonapex-book-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/verizonapex-book-webfont.woff') format('woff'),
	url('fonts/verizonapex-book-webfont.ttf') format('truetype'),
	url('fonts/verizonapex-book-webfont.svg#verizon_apexbook') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'medium';
	src: url('fonts/verizonapex-medium-webfont.eot');
	src: url('fonts/verizonapex-medium-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/verizonapex-medium-webfont.woff') format('woff'),
	url('fonts/verizonapex-medium-webfont.ttf') format('truetype'),
	url('fonts/verizonapex-medium-webfont.svg#verizon_apexmedium') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'medium-italic';
	src: url('fonts/verizonapex-mediumitalic-webfont.eot');
	src: url('fonts/verizonapex-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/verizonapex-mediumitalic-webfont.woff') format('woff'),
	url('fonts/verizonapex-mediumitalic-webfont.ttf') format('truetype'),
	url('fonts/verizonapex-mediumitalic-webfont.svg#verizon_apexmedium') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'book-italic';
	src: url('fonts/verizonapex-bookitalic-webfont.eot');
	src: url('fonts/verizonapex-bookitalic-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/verizonapex-bookitalic-webfont.woff') format('woff'),
	url('fonts/verizonapex-bookitalic-webfont.ttf') format('truetype'),
	url('fonts/verizonapex-bookitalic-webfont.svg#verizon_apexbook') format('svg');
	font-weight: normal;
	font-style: normal;
}

// Variablez
$red: #ed1c24;
$white: rgba(255,255,255, 1);
$grey: RGBA(210, 211, 212, 1);
$black: #595a5d;


$canvas-grey: RGBA(210, 211, 213, 1);


// WITCHES POTION MAGIC CLASSES
%full-height {
	height: 100%;
	min-height: 100%;
}
%full-width {
	width: 100%;
	min-width: 100%;
}

@mixin bp() {
	@media (min-width: 640px) {
		@content;
	}
}



// Base element styles
*,
*:after,
*:before,
*:focus {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	outline: none;
}
html {
	background: rgba(0,0,0,0.8);
}
html,
body {
//	@extend %full-height;
	position: relative;
	margin: 0;
	padding: 0;
	font-family: 'medium';
	line-height: 1.25;

}

p {
	margin: 0;
}

// Portrait height and width
$device-height: 638px;
$device-width: 360px;
// Landscape Height and width
$device-height-landscape: $device-width;
$device-width-landscape: 640px;

$redbar-height: 44px;

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}


#all {
	margin: 0 auto;
	position: relative;
	background: white;
	height: $device-height;
	width: $device-width;
	@include bp() {
		height: $device-height-landscape;
		width: $device-width-landscape;
	}

}

#interactive {
	position: relative;
	overflow: hidden;
	height: $device-height - $redbar-height;
	width: $device-width;
	@include bp() {
		height: $device-height-landscape - $redbar-height;
		width: $device-width-landscape;
	}
}

#redbar {
	background: $red url('../images/buttons/return.jpg') center center no-repeat;
	background-size: auto 80%;
	height: $redbar-height;
	width: 100%;
}

// Steps
.steps {
	position: relative;
	margin: 0;
	overflow: hidden;
}

.steps {
	@extend %full-width;
	height: $device-height - $redbar-height;
	@include bp() {
		height: $device-height-landscape - $redbar-height;
	}
}

.step {
	width: 100%;
	height: $device-height - $redbar-height;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	@include bp() {
		height: $device-height-landscape - $redbar-height;
	}
}

.step .instruct,
.step .demo {
	position: absolute;
	top: 0;
	left: 0;
	height: $device-height - $redbar-height;
	width: $device-width;
	@include bp() {
		height: $device-height-landscape - $redbar-height;
		width: $device-width-landscape;
	}
}

.step.on {
	display: block;
}

// Vis toggle
.instruct {
	display: block;
}
.demo {
	display: none;
}

.demo.on {
	display: block;
}



.instruct {
	h2 {
		text-transform: uppercase;
		font-size: 20px;
		letter-spacing: -1px;
		margin-bottom: 12px;
		color: #595a5d;
		@include bp() {
			text-align: center;
			margin-top: 15px;
			font-size: 23px;
			font-family: 'book';
			margin-bottom: 14px;
		}
	}
	p {
		font-size: 18px;
		color: #595a5d;
	}
	.header {
		width: 100%;
		height: 123px;
		padding-left: 22px;
		padding-top: 25px;
		background:RGBA(236, 237, 239, 1);
		@include bp() {
			padding: 0;
			position: absolute;
			width: 50%;
			right: 0;
			z-index: 1000;
		}
	}
	.image {
		background: black;
		width: 100%;
		height: 264px;
		@include bp() {
			width: 50%;
			height: 316px;
		}
	}
	// canvas {
	// 	width: 100%;
	// 	height: 34.8%;
	// 	background: $canvas-grey;
	// }
	.canvashandler {
		width: 360px;
		height: 207px;
		position: absolute;
		z-index: 2;
		@include bp() {
			width: 320px;
			right: 0;
			bottom: 0px;

		}
		// canvas {
		// 	@include bp() {
		// 		width: 320px;
		// 	}
		// }
	}

}

.instruct .header p {
	@include bp() {
		width: 358px;
		position: relative;
		right: 38px;
		background: $red;
		color: $white;
		font-family: 'book';

		font-size: 22px;
		padding: 6px 0 6px 10px;

	}
}


.demo {
	h2 {
		text-transform: uppercase;
		font-size: 19px;
		letter-spacing: -1px;
		margin-bottom: 12px;
		color: #595a5d;
	}
	p {
		font-size: 15px;
	}
	.canvashandler {
		position: absolute;
		z-index: 2;
		width: 360px;
		height: 200px;
		left: 0;
		top: 394px;
		@include bp() {
			top: auto;
			bottom: 0;
			width: 320px;
			right: 0;
			left: auto;
			position: absolute;
			canvas {

			}
		}

	}
	.canvas-chrome {
		position: absolute;
		z-index: 1;
		bottom: 0;
		left: 0;
		height: 161px;
		width: 360px;
		background-color:#dddddd;
		@include bp() {
			height: 316px;
			right: 0px;
			left: auto;
			width: 320px;
		}
	}

	.header {
		width: 100%;
		height: 85px;
		padding-left: 22px;
		padding-top: 20px;
		@include bp() {
			position: absolute;
			bottom: 0;
			background: white;
			width: 50%;
		}
	}
	.desc-contain {
		overflow: hidden;
		height: 80px;
		@include bp() {
			background: $grey;
			height: 160px;
			position: absolute;
			right: 0;
			width: 300px;
			z-index: 800;
		}
	}
	.video-handler {
		width: 360px;
		height: 268px;
		@include bp() {
			position: relative;
			width: 320px;
			height: 238px;
		}
	}
	.left,
	.right {
		width: 50%;
		float: left;
		font-family: 'book';
		padding: 12px 14px 0;
		height: 80px;
		@include bp() {
			width: 100%;
			float: right;
			padding: 20px 18px 0;
		}
	}
	.left {
		background: $red;
		color: #fff;
	}
	.right {
		color: #595a5d;
		background: RGBA(230, 231, 233, 1);
	}


	video {
		@include bp() {
			max-width: 100%;
			height: auto;
		}
	}

}


.es .demo .left,
.es .demo .right {
	padding-top: 6px;
}


.demo .up {
	position: relative;
	height: 316px;
}


.next-stage {
	position: absolute;
	top:0;

	display: none;
}

.endscreen {
	display: none;
	&.on {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 360px;
		height: 100%;
		background: #fff;
		@include bp() {
			width: 640px;
			background:$grey;
		}
	}
}


.step-1 .image {
	background: url('../images/instruct/instruct-1.jpg');
	background-size: auto 100%;
}
.step-2 .image {
	background: url('../images/instruct/instruct-2.jpg');
	background-size: auto 100%;
}
.step-3 .image {
	background: url('../images/instruct/instruct-3.jpg');
	background-size: auto 100%;
}
.step-4 .image {
	background: url('../images/instruct/instruct-4.jpg');
	background-size: auto 100%;
}

.instruct-shape {
}

.endscreen {
	p {
		font-size: 28px;
		text-transform: uppercase;
		font-family: 'medium';
		line-height: 1;
		color: #595a5d;
		@include bp() {
			font-size: 28px;
			padding-top: 45px;
			padding-left: 19px;
		}
	}
	h2 {
		font-size: 18px;
		font-weight: normal;
		line-height: 1.1;
		padding-top: 20px;
		padding-left: 10px;
		color: #fff;
		text-transform: uppercase;
		@include bp() {
			font-size: 28px;
			padding-top: 45px;
			padding-left: 19px;
		}

	}
	#endscreen-phone {
		background: url('../images/device/phone.png');
		background-size: auto 100%;
		height: 341px;
		width: 128px;
		position: absolute;
		top: 50px;
		transform: translate3d(-145px,0,0);
		z-index: 2;
		@include bp() {
			width: 107px;
			height: 285px;
			top: 16px;
		}
	}
	#endscreen-pen {
		background: url('../images/device/pen.png');
		background-size: auto 100%;
		height: 350px;
		width: 20px;
		position: absolute;
		top: 193px;
		transform: translate3d(384px,0,0);
		@include bp() {
			top: 20px;
			height: 280px;
			width: 16px;
			transform: translate3d(644px, 0, 0);
		}
	}
	#endscreen-heading {
		position: absolute;
		background: red;
		height: 79px;
		width: 209px;
		top: 81px;
		transform: translate3d(370px,0,0);
		z-index: 1;
		@include bp() {
			width: 320px;
			height: 158px;
			top: 0;
			right: 0;
			transform: translate3d(322px, 0, 0);
		}
	}
	#endscreen-description {
		position: absolute;
		bottom: 54px;
		width: 240px;
		transform: translate3d(-238px,0,0);
		@include bp() {
			position: absolute;
			bottom: 0px;
			right: 0;
			width: 320px;
			background: white;
			height: 158px;
			transform: translate3d(322px, 0, 0);
		}
	}
}

.gesture-instruction {
	position: absolute;
	bottom: 0;
	width: 360px;
	height: 207px;
	z-index: 1;
	background-color: #dddddd;
	@include bp() {
		position: absolute;
		right: 0;
		width: 320px;
	}
	p {
		position: absolute;
		top: 16px;
		width: 100%;
		font-family: 'book';
		text-transform: uppercase;
		font-size: 18px;
		color: #ed1c24;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		text-align: center;
		@include bp() {
			top: 25px;
		}
	}

}

.dots-bg {
	position: absolute;
	height: 4px;
	width: 360px;
	bottom: 154px;
	user-select:none;
	background-image: url('../images/buttons/dots.png');
	background-size: auto 100%;
	@include bp() {
		height: 316px;
		width: 4px;
		bottom: 0;
		left: 0;
		background-size: 100% auto;
		margin-left: 5px;
	}
}
.pen-icon {
	user-select:none;
	position: absolute;
	height: 40px;
	width: 23px;
	bottom: 112px;
	left: 6px;
	background-image: url('../images/buttons/pencil.png');
	background-size: auto 100%;
	@include bp() {
		bottom: 4px;
		left: 10px;
	}
}

.step-1 .gesture-instruction {
	background-image: url('../images/shape/shape-1.png');
	background-repeat: no-repeat;
	background-position: center 70%;
	background-size: 38% auto;
}
.step-2 .gesture-instruction {
	background-image: url('../images/shape/shape-2.png');
	background-repeat: no-repeat;
	background-position: center 70%;
	background-size: 38% auto;
}
.step-3 .gesture-instruction {
	background-image: url('../images/shape/shape-3.png');
	background-repeat: no-repeat;
	background-position: center 70%;
	background-size: 38% auto;
}
.step-4 .gesture-instruction {
	background-image: url('../images/shape/shape-4.png');
	background-repeat: no-repeat;
	background-position: center 70%;
	background-size: 38% auto;
}



.step-1 .demo .canvas-chrome {
	background-image: url('../images/memo/memo-1.png');
	background-repeat: no-repeat;
	background-position: center 80%;
	background-size: 41% auto;
	@include bp() {
		background-position: center 90%;
		background-size: 50% auto;
	}
}
.step-2 .demo .canvas-chrome {
	background-image: url('../images/memo/memo-2.png');
	background-repeat: no-repeat;
	background-position: center 80%;
	background-size: 41% auto;
	@include bp() {
		background-position: center 90%;
		background-size: 50% auto;
	}
}
.step-3 .demo .canvas-chrome {
	background-image: url('../images/memo/memo-3.png');
	background-repeat: no-repeat;
	background-position: center 80%;
	background-size: 41% auto;
	@include bp() {
		background-position: center 90%;
		background-size: 50% auto;
	}
}
.step-4 .demo .canvas-chrome {
	background-image: url('../images/memo/memo-4.png');
	background-repeat: no-repeat;
	background-position: center 80%;
	background-size: 41% auto;
	@include bp() {
		background-position: center 90%;
		background-size: 50% auto;
	}
}

.step-3 .demo p {
	font-size: 14px;
}
.step-4 .demo .left {
	padding-right: 9px;
}
.step-4 .demo p {
	font-size: 14px;
}


.up {
	background: #fff;
}


.step-1 {
	z-index: 1000;
}
.step-2 {
	z-index: 900;
}
.step-3 {
	z-index: 800;
}
.step-4 {
	z-index: 700;
}

.shift {
	transform: translate3d(-360px,0,0);
}


.en .step-2 .demo .header,
.en .step-4 .demo .header {
	padding-top: 12px;
}

.es .step-2 .demo .header,
.es .step-4 .demo .header {
	padding-top: 10px;
}

.es .demo p {
	font-size: 14px;
}

.es .step-3 .demo .header {
	@include bp() {
		height: 94px;
		padding-left: 15px;
		padding-top: 20px;
	}
}

.es .step-3 .instruct .header p {

	@include bp() {
		font-size: 19px;
		padding-bottom: 12px;
		padding-top: 10px;
	}
}

.es .step-4 .instruct .header {
	padding-top: 15px;
}
.es .step-4 .instruct .header p {

	@include bp() {
		font-size: 18px;
		padding-bottom: 12px;
		padding-top: 10px;
	}
}


.es .step-3 .demo .header {
	width: 100%;
	height: 85px;
	padding-left: 15px;
	padding-top: 8px;
}

.es .endscreen h2 {
	padding-top: 12px;
}


.gesture-instruction-sub {
	color: #595a5d;
	position: absolute;
	height: 10px;
	top: 6px;
	right: 8px;
	p {
		font-size: 11px !important;
	}
	@include bp() {
		top: initial;
		bottom: 8px;
		left: 40px;
	}

}