<div id="interactive">

	<div class="steps" id="steps">
		{{#steps}}
			<div class="step step-{{id}}">

				<div class="instruct">
					<div class="header">
						<h2>{{instruct.title}}</h2>
						<p>{{{instruct.desc}}}</p>
					</div>
					<div class="image"></div>

					<div class="canvashandler">
						<canvas id="shape-{{id}}" class="drawgesture" width="360" height="207" data-pattern="{{pattern}}">
							<span style="background-color:#ffff88;">The &lt;canvas&gt; element is not supported by this browser.</span>
						</canvas>
					</div>

					<div class="gesture-instruction"><p>{{canvas.instruct}}</p></div>



				</div><!-- / .instruct -->

				<div class="demo">

				<div class="up">
					<div class="header">
						<h2>{{{demo.title}}}</h2>
					</div>

					<div class="desc-contain">
						<div class="left"><p>{{demo.left}}</p></div>
						<div class="right"><p>{{demo.right}}</p></div>
					</div>

					<div class="video-handler">
						<video id="video-{{id}}" preload="auto" loop width="360" height="268">
							<source src="{{demo.video}}" type='video/mp4'></source>
						</video>
					</div>

				</div><!-- / .up -->

					<div class="canvashandler">
						<canvas id="line-{{id}}" width="360" height="200" data-pattern="all">
							<span style="background-color:#ffff88;">The &lt;canvas&gt; element is not supported by this browser.</span>
						</canvas>
					</div>

					<div class="canvas-chrome canvas-chrome-{{id}}">
						<div class="gesture-instruction-sub"><p>{{canvas.demo}}</p></div>
						<div class="dots-bg"></div>
						<div class="pen-icon"></div>
					</div>


				</div><!-- / .demo -->

			</div>
		{{/steps}}
	</div><!-- / .steps -->

	<div id="endscreen" class="endscreen">
		<div id="endscreen-phone"></div>
		<div id="endscreen-pen"></div>
		<div id="endscreen-heading"><h2>{{endscreen.title}}</h2></div>
		<div id="endscreen-description"><p>{{endscreen.desc}}</p></div>
	</div><!-- / .endscreen -->

</div>

<div id="redbar"></div>